@import "_variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: auto 0;
  box-sizing: border-box;
  position: relative;
  font-family:'Raleway', sans-serif;
}
nav {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding-bottom: 200px;
}
.flex0 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.nav_txt {
  // position: absolute;
  width: 700px;
  color: white;
  span {
    color: #9f449b;
  }
  h1 {
    font-size: 50px;
    margin: 60px 0 60px 0;
  }
  h2 {
    margin-bottom: 20px;
  }
}

.diamond {
     height: 120px;
     fill: rgba(255,255,255,0.1);
     stroke: #ffffff;
     stroke-width: 1;
     stroke-miterlimit: 10;
}
.diamond:hover {
  fill: #9f449b;
}
.diamond1 {
     height: 60px;
     fill: rgba(255,255,255,0.1);
     stroke: #ffffff;
     stroke-width: 2;
     stroke-miterlimit: 10;
}
.flex-container {
  margin-top: 60px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    // position: relative;
    // top: 350px;
    }

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    top: 130px;
    p {
      color: white;
      font-size: 12px;
      position: absolute;
      left: 43px;
      bottom: 30px;
    }
  }
    .fa-cog, .fa-user, .fa-pencil {
      color: white;
      position: absolute;
      left: 40px;
      top: 25px;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    top: 130px;
    p {
      color: white;
      font-size: 12px;
      position: absolute;
      left: 45px;
      bottom: 30px;
    }
  }

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative;
    p {
      color: white;
      font-size: 12px;
      position: absolute;
      left: 40px;
      bottom: 30px;
    }
  }
  .fa-comment-o, .fa-file-image-o {
    color: white;
    font-size: 12px;
    position: absolute;
    left: 40px;
    top: 25px;
  }

.flex-item:nth-child(4) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative;
    p {
      color: white;
      font-size: 12px;
      position: absolute;
      left: 45px;
      bottom: 30px;
    }
  }
.fa-paper-plane-o {
  color: white;
  position: absolute;
  left: 33px;
  top: 25px;
}
.flex-item:nth-child(5) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    top: 130px;
    p {
      color: white;
      font-size: 12px;
      position: absolute;
      left: 43px;
      bottom: 30px;
    }
  }

.flex-item:nth-child(6) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    top: 130px;
    p {
      color: white;
      font-size: 12px;
      position: absolute;
      left: 43px;
      bottom: 30px;
    }
  }

  .flex-container1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
      margin-top: 120px;
    }
    .fa-angle-down {
      color: white;
      position: absolute;
      top: 7px;
      left: 15px;
    }
    .f_c1 {
      position: relative;
    }
.section1 {
  max-width: 100vw;
  background-color: white;
  background-size: cover;
}
ul {
  list-style: none;
  word-spacing: 30px;
  font-size: 12px;
  padding-bottom: 30px;
}
li {
  display: inline-block;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-between;
}
.text_left {
  font-size: 25px;
  span {
    color: #9f449b;
  }
  p {
    padding: 25px;
  }
}
a {
  text-decoration: none;
}
a:hover {
  color: #9f449b;
}
.section2 {
  max-width: 100vw;
  background-color: #eeeeee;
  background-size: cover;
  min-height: 80vh;
  padding-bottom: 120px;
}
.flex-container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 100px;
}
.diamond3 {
     height: 120px;
     fill: none;
     stroke: #ccd0d2;
     stroke-width: 1;
     stroke-miterlimit: 10;
}
.diamond3:hover {
  stroke: #9f449b;
}
.flex-item3 {
  width: 200px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  h3 {
    font-size: 14px;
    margin-left: 10px;
    padding: 15px;
  }
  p {
    font-size: 10px;
    margin-left: 10px;
  }
}
.section3 {
  min-height: 80vh;
  text-align: center;
  padding-bottom: 150px;
  h1 {
    font-size: 30px;
    padding: 70px;
  }
  span {
    color: #9f449b;
    }
  }

.flex-container4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.l_more {
  width: 300px;
}
#btn {
  background-color: #9f449b;
  color: white;
  width: 190px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
}
.section4, .section7 {
  background-image: url("../img/bcg_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  text-align: center;
  p {
    color: white;
  }
}
.diamond4 {
  height: 120px;
  fill: rgba(255,255,255,0.1);
  stroke: #ffffff;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
.diamond_x {
  position: relative;
  top: 120px;
}
.section5 {
  min-height: 80vh;
  text-align: center;
  h1 {
    font-size: 30px;
    padding: 70px;
  }
  span {
    color: #9f449b;
    }
}
.diamond5 {
     height: 50px;
     fill: none;
     stroke: #9f449b;
     stroke-width: 5;
     stroke-miterlimit: 10;
}
.flex-container5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.flex-itemm {
	width: 180px;
	height: 180px;
	background: #cdcdcd;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
  margin: 50px;
}
.f_g {
  width: 35px;
  height: 35px;
  background: white;
  border: 2px solid #cdcdcd;
  border-radius: 50%;
  display: inline-block;
  margin: 10px
}
.section6 {
  min-height: 80vh;
  text-align: center;
  h1 {
    font-size: 30px;
    padding: 70px;
  }
  span {
    color: #9f449b;
    }
  p {
    font-size: 12px;
  }
  padding-bottom: 150px;
}

.progress_bar1 {
  height: 10px;
  width: 180px;
  background: #9f449b;
  display: inline-block;
}
.progress_bar11 {
  height: 10px;
  width: 20px;
  background: #f0f0f0;
  display: inline-block;
}
.progress_bar2 {
  height: 10px;
  width: 155px;
  background: #9f449b;
  display: inline-block;
}
.progress_bar22 {
  height: 10px;
  width: 45px;
  background: #f0f0f0;
  display: inline-block;
}
.flex-container6 {
  display: flex;
  direction : row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.flex-item6 {
  padding: 0 15px 0 15px;
}
.progress_bar12 {
  span {
    color: black;
    margin-right: 100px;
  }
}
.progress_bar21 {
  span {
    color: black;
    margin-right: 110px;
  }
}
.progress_bar34 {
  span {
    color: black;
    margin-right: 75px;
  }
}
.progress_bar43 {
  span {
    color: black;
    margin-right: 140px;
  }
}
.progress_bar3 {
  height: 10px;
  width: 165px;
  background: #9f449b;
  display: inline-block;
}
.progress_bar33 {
  height: 10px;
  width: 35px;
  background: #f0f0f0;
  display: inline-block;
}
.progress_bar4 {
  height: 10px;
  width: 185px;
  background: #9f449b;
  display: inline-block;
}
.progress_bar44 {
  height: 10px;
  width: 15px;
  background: #f0f0f0;
  display: inline-block;
}
.section8 {
  max-width: 100vw;
  background-color: #eeeeee;
  background-size: cover;
  min-height: 80vh;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}
.flex-container8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  text-align: center;
  font-size: 38px;
  p {
    font-size: 12px;
  }
  .flex-item8 {
  padding: 0 50px 0 50px;
  }
  padding-bottom: 100px;
}
.grey_circle {
  width: 115px;
  height: 115px;
  background: #aaaaaa;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 50px;
  margin: 0 auto;
}
.section8-text {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  color: #717171;
  p {
    font-size: 20px;
    color: #717171;
  }
}
.section9, .section10 {
  min-height: 80vh;
  text-align: center;
  h1 {
    font-size: 30px;
    padding: 50px;
  }
  span {
    color: #9f449b;
    }
}
.gallery_btn {
  width: 55px;
  height: 25px;
  background-color: white;
  margin: 5px;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.gallery_btn:hover, .watch_more:hover, .send_email:hover {
  background-color: #9f449b;
  color: white;
}
.flex-container9, .flex-container10 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  text-align: center;
}
.flex-item9 {
  margin: 10px;
  h3 {
    margin-bottom: 4px;
  }
  p {
    margin: 2px;
  }
}
#gal1:hover, #gal2:hover, #gal3:hover, #gal4:hover, #gal5:hover, #gal6:hover {
  opacity: 0.5;
}
.watch_more, .send_email, {
  width: 110px;
  height: 35px;
  background-color: white;
  margin: 5px;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.input_name, .input_email {
  height: 50px;
  width: 400px;
  border: 1px solid #9f449b;
  padding-left: 20px;
  margin: 10px;
}
.input_message {
  width: 400px;
  height: 200px;
  border: 1px solid #9f449b;
  padding-left: 20px;
  margin: 10px;
}
.git_div {
  width: 300px;
  text-align: left;
  margin-left: 30px;
  p {
    margin: 10px 0 40px 0;
  }
}
.f_t_g {
  width: 45px;
  height: 45px;
  background: white;
  border: 2px solid #cdcdcd;
  border-radius: 50%;
  display: inline-block;
  margin: 30px 10px 10px 10px;
}
footer {
  min-height: 30vh;
  text-align: center;
  h1 {
    font-size: 30px;
    padding: 50px;
  }
  span {
    color: #9f449b;
    }
}
